@import url(http://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:200,700,900);

body {
<<<<<<< HEAD
<<<<<<< HEAD
	background-color: #fff;
	background-image: url("../images/cup_with_bed.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
=======
=======
>>>>>>> origin/master
	background-color: #fff);
	background-image: url("../images/cup_with_bed.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	line-height:175%;
	margin-top:0px;
<<<<<<< HEAD
>>>>>>> origin/master
}
div	{
	width: 40%;
	margin: 3em;
	background-color: rgba(16,35,114,.8);
	padding: 3em;
}
p   {
	font-size: 16px;
	font-family: 'Source Sans Pro' sans-serif;
	font-weight: 200;
	line-height: 2em;
	letter-spacing: 2px;
}
h1 	{
	color: #fd6;
	font-size: 3em;
	font-family: 'Lobster' serif;
	font-weight: 400;
	line-height: 1em;
=======
>>>>>>> origin/master
}
h2	{
	color: #e0e0e0;
	font-size: 1em;
	font-family: 'Source Sans Pro' sans-serif;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase; letter-spacing: 3px;
}
h3	{
	color: #e0e0e0;
	font-size: .75em;
	font-family: 'Source Sans Pro' sans-serif;
	font-weight: 300;
	line-height: 1em;
	text-transform: uppercase; letter-spacing: 3px
}
ul {
    font-size: 16px;
	font-family: 'Source Sans Pro' sans-serif;
	font-weight: 300;
	line-height: 1.5em;
    list-style-type: none;
}
#slogan {
	color: #dbd0a0;
	font-style: italic;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
    border-spacing: 20px;
}
