@import url(http://fonts.googleapis.com/css?family=Martel+Sans:200,300,600,800|Cabin+Sketch:400);

* {
	border: 0px solid red;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
    background: no-repeat center center fixed;
    background-image: url("../images/The_Milky_Way_and_Andromeda_Galaxies.jpg");
    background-color: #0c0b2b;
    background-size: cover;
}

body {
	font-family: 'Martel Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
}

header {
	padding: 2em 3em 0 3em;
	clear: both;
	background-color: rgba(12,11,43,.5);
	margin: 0 none;
}

h1 {
	color: rgba(255,255,255,.8);
	font-family: 'Cabin Sketch';
	font-size: 4em;
	font-weight: 200;
	line-height: 1.5em;
	text-transform: uppercase;
}

h2 {
	color: rgb(109,174,219);
	font-size: 2em;
	font-weight: 200;
	line-height: 1.25em;
	text-transform: uppercase;
}

h3 {
	color: #fff;
	font-size: 1.75em;
	font-weight: 300;
	line-height: 1em;
	text-transform: uppercase;
    padding: 0 0 1em 0;
}

p {
	color: #fff;
	font-size: 1em;
	line-height: 2em;
	font-weight: 200;

}
nav {
	background-color: rgba(12,11,43,.5);
	padding: 1em 3em 1em 3em;
	width: 100%;
	clear: both;
}

nav a {
	background-color: rgba(12,11,43,1);
	border: 1px solid rgb(109,174,219);
	color: rgb(255,240,124);
	display: inline-block;
	padding: .85em;
	margin: .5em;
	font-size: 1.25em;
	font-weight: 200;
	width: 16em;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:link	{
	color: #fff;
	text-decoration: none;
}

nav a:hover	{
	color: rgb(12,11,43);
	font-weight: 600;
	text-decoration: none;
	background-color: rgb(255,240,124);
}

section {
	margin: 1em;
	padding: 0 1em 0 1em;
	display: block;
	clear: both;
}

div photos {
	padding: 0 1em .5em 1em;
}

div twitter {
	margin: 1em;
	width: 100%;
}

img {
	width: 100%;
}

img.round {
	width: 6.5em;
	height: 6.5em;
	border-radius: 50%;
	margin: 0 none;
	padding: .3em;
}

footer {
	width: 100%;
	padding: 2em 3em 3em 3em;
	background-color: rgba(0,0,0,.6);
	height: 100%;
	text-decoration: none;
	font-size: 1em;
	color: rgb(109,174,219);
}

footer a {
	color: rgb(255,240,124);
	text-decoration: none;
    height: 4em, auto;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}