@import url(http://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:300,600,900|Lora:400);

* {
	border: 1px solid red;
	box-sizing:border-box;
	margin:0;
	padding:0;;
}

body {
	background-color: #fff;
	background-image: url("images/The_Milky_Way_and_Andromeda_Galaxies.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #d3d3d3;
	clear: both;
}
header {
	width: 100%;
	background-color: rgba(16,23,53,.7);
	padding: 2em;
	height: 100px;
	clear: both;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: rgba(0,0,0,.5);
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

nav a {
	padding: 10px;
	clear: both;
	display: inline-block;
	width: 100px;
	clear: both;
}

section {
	display: block;
	width: 100%;
	background-color: #d3d3d3;
	clear: both;
	padding: 6em;
	text-align: center;
}

footer {
	display: block;
	width: 100;
	background: blue;
	clear: both;
}

p   {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.75em;
}
p.footnote	{
	font-size: 0.2em;
	line-height: 1em;
}
h1 	{
	color: #fd6;
	font-size: 3em;
	font-weight: 300;
	line-height: 2em;
}
h2	{
	color: #fd6;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.25em;
	text-transform: uppercase; letter-spacing: 3px;
}
h3	{
	color: #fff;
	font-size: 1em;
	font-family: 'Source Sans Pro' sans-serif;
	font-weight: 600;
	line-height: 1.5em;
	text-transform: uppercase; letter-spacing: 3px;
}
a:link	{
	color: #fd6;
	text-decoration: none;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
