body {
	background-color: rgb(16,35,114);
	background-image: url("../images/cup_with_bed.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	color:#fff;
	font-family: 'Mandali', sans-serif;
	font-size:16px;
}
h1 {
	font-size:3em;
}
#slogan {
	font-style: italic;
	font-size: 1.5em;
}
