
* {
  border: 1px solid red;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-size: 18px;
  font-family: 'Lato' sans-serif;
  margin: 0 auto;
}
header {
  margin: 0 auto;
  padding: 40px;
  background-color: red;
}
h1 {
  font-size: 1.em;
}
h2  {
  font-size: 1.25em;
}
section {
  margin: 0 auto;
  padding: 40px
  background-colroa; greeh;
}
footer {
  font-size: .2em;
}